
.navbar {
    background-color: #000000;
    padding: 1rem;
    color: rgb(253, 253, 253);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar h1 {
    margin: 0.5rem;

    font-family: "Rubik", sans-serif;
  }
  .links {
    margin-left: auto; /* Pushes the links to the right side */
  }
  
  .links a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    padding: 0.5rem;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  